Django==5.2.7
celery==5.5.3
numpy==2.3.4
scipy==1.16.3
boto3==1.40.64
configparser==7.2.0
python-javabridge==4.0.4  # this package requires numpy to be installed
python-bioformats==4.1.0
python-dateutil==2.9.0.post0
python-magic==0.4.24
python-memcached==1.59
pytz==2021.1
PyYAML==5.4.1
rpy2==3.4.4
